.app-loading-wrapper.ant-spin-spinning {
  @include position(fixed, 0, unset, unset, 0);
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(256, 256, 256, 0.5);
  flex-direction: column;
  @include flexbox(center, center);
  .ant-spin-text {
    margin-top: 5px;
    color: $color-primary-3;
  }
}
