$font-family-heading: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
$font-family-paragrap: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;

$color-primary: #161819;
$color-red: #fe2c55;

$rgb-color-primary: 22, 24, 35;
$rgb-color-red: 254, 44, 85;
$rgb-color-black: 0, 0, 0;

$background-primary: #ffffff;
$background-grey: #888888;

$rgb-background-primary: 255, 255, 255;
$rgb-background-grey: 136, 136, 136;

$font-size-base: 14px;
$line-height-base: 1.5;
