$font-family-heading: -apple-system, BlinkMacSystemFont, 游ゴシック, YuGothic, メイリオ,
  ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN, Meiryo, sans-serif !important;

$font-family-form: 'Open Sans', sans-serif;

$color-primary-1: #333333;
$color-primary-2: #1b212d;
$color-primary-3: #999999;
$color-primary-4: #0d45b7;
$color-primary-5: #cd201f;
$color-primary-6: #dddddd;

$dark: #000;
$white: #fff;

$font-size-base: 14px;
$line-height-base: 1.5;
