@import '@/styles/shared/variables';
@import '@/styles/shared/mixins';

.layout-page-header {
  padding: 0 !important;
  z-index: 9;
  height: 56px;
  background-color: $white;

  &-main {
    @include box-shadow(4px, 4px, 10px, $color-primary-6);
    flex: 1;

    .actions {
      height: 100%;
      @include flexbox(center, center);

      .user-action {
        border: 1px solid $color-primary-6;
        @include flexbox(center, center);
        height: 32px;
        width: 32px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 20px;
      }
    }
  }
}

.dropdown-menu {
  :global li {
    padding: 7px 17px;
  }
}
