a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 游ゴシック, YuGothic, メイリオ,
    ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN, Meiryo, sans-serif !important;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}
input,
button,
select,
textarea {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
input {
  line-height: normal;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1b212d;
}
