a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-family: $font-family-heading;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-primary-1;
}
input,
button,
select,
textarea {
  outline: none;
  font-family: $font-family-form;
  font-size: $font-size-base;
}
input {
  line-height: normal;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-primary-2;
}
